ul {
	list-style-type: none;
	margin:  0px;
	padding: 0px;
	overflow: hidden;
	background-color: #1F2937;
}

li {
	float: right;
	padding: 14px 10px;
	font-family: sans-serif;
}

li a {
	color: white;
	text-decoration: none;
	font-size: 17px;
	color: #E5E7EB;
}

li a:hover {
	color: #808080;
} 	

.header-logo {
	float: left;
	font-size: 18px;
	color: #F9FAF8;
	font-weight: bold;
}