body {
	margin: 0px;
}

.section-1 {
	background-color: #1F2937;
	height: 300px;
}

.navbar {
	display: flex;
	align-items: center;
}

.icon {
	padding: 0 0 0 40px;
	font-size: 20px;
	color: #F9FAF8;
	font-family: sans-serif;
	font-weight: bold;
}

ul {
	list-style-type: none;
	margin: 0px;
}

a {
	text-decoration: none;
	color: white;
}