* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #1F2937;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

ul {
  display: flex;
  gap: 15px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}