@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #1F2937;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  flex-wrap: wrap;
}

ul {
  display: flex;
  gap: 15px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.hero-main-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-section {
  height: 495px;
}

.hero-image {
  width: 500px;
  height: 243px;
  object-fit: contain;
}

.text-and-button {
  width: 500px;
  height: 243px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-button {
  width: 130px;
  color: whitesmoke;
  background-color: #3882F6;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: white;
  color: #3882F6;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  text-align: center;
}

.informations {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.informations p {
  text-align: center;
  margin-top: 5px;
  width: 180px;
  color: rgb(82, 82, 82);
  font-size: 18px;
}

.informations img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.section-3 {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0px 120px 0px;
}

.sec3-text {
  min-width: 400px;
  max-width: 50%;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-family: serif;
}

.author {
  display: flex;
  font-weight: bold;
  font-size: 23px;
  justify-content: flex-end;
  margin-right: 50px;
  font-family: serif;
}

.section-4 {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4-container {
  background-color: #3882F6;
  width: 60%;
  height: 45%;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sec4-main-text {
  font-weight: bold;
  font-size: 24px;
}

.sec4-second-text {
  font-size: 20px;
}

.sec4-button {
  width: 150px;
  height: 40px;
  border: 2px solid white;
  color: white;
  background-color: #3882F6;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
}

.sec4-button:hover {
  cursor: pointer;
  background-color: white;
  color: #3882F6;

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #E5E7EB;
  height: 100px;
  font-size: 18px;
}

















